<script src="{{ "/games-slug-map.js" | relURL }}?v={{ now.Unix }}" defer></script>
<script src="{{ "/search-index.js" | relURL }}?v={{ now.Unix }}" defer></script>
{{ $searchJS := resources.Get "js/search.js" | minify | fingerprint }}
<script src="{{ $searchJS.RelPermalink }}" integrity="{{ $searchJS.Data.Integrity }}" crossorigin="anonymous" defer></script>
{{ $navJS := resources.Get "js/nav.js" | minify | fingerprint }}
<script src="{{ $navJS.RelPermalink }}" integrity="{{ $navJS.Data.Integrity }}" crossorigin="anonymous" defer></script>
